@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #db53a5;
     font-family: "Open Sans", sans-serif;
}

h1 {
    margin: 2rem auto 3rem auto;
    text-align: center;
    display: block;
}

.gird-box {
    text-align: center;
    background: #f1ad48;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}


.grid-container {
    display: grid;
    border: 2px solid #000;
    /* grid-template-columns: repeat(4, 1fr); s2   */
    /* grid-template-columns: repeat(auto-fit, 20rem); */
    /*grid-template-columns: repeat(auto-fit, 1fr); GRID CRIA O MAXIMO DE COLUNA POSSIVELS COM BASE NA TELA */  
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    place-content: center; /* centraliza o conteudo em ambas direcoes */
    


}